
<!--Footer-->
<div class="text-center font-medium primary-color-dark darken-2 mt-4 wow fadeIn  ">

    <!--Copyright-->
    <div class="footer-copyright py-3" style="color: white;">
        <span href="#" class="mr-4">
        	Elecciones Presidenciales 2018
        </span>

        <span href="#" class="mr-4">
        	info@carreradepoder.com
        </span>

        <a href="https://www.facebook.com/carreradepoder/">
	      <i class="fa fa-facebook white-text mr-4"> </i>
	    </a>
        
        <a href="https://github.com/OscarOzaine/carreradepoder-2018">
	      <i class="fa fa-github white-text mr-4"> </i>
	    </a>
    </div>
    <!--/.Copyright-->

</div>
<!--/.Footer-->